  <div class="d-flex justify-content-center align-items-center align-content-center p-3">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="row g-5">
        <div class="col-12">
          <p-steps [model]="items" [activeIndex]="activeIndex"></p-steps>
        </div>
        <div class="col-6">
          <input type="text" name="firstName" placeholder="First Name" class="form-control">
        </div>
        <div class="col-6">
          <input type="text" name="lastName" placeholder="Last Name" class="form-control">
        </div>
        <div class="col-6">
          <input type="date" name="dob" placeholder="DoB" class="form-control">
        </div>
        <div class="col-6">
          <p-dropdown [options]="genders" [(ngModel)]="model.gender" optionLabel="name" optionValue="value" [ngModelOptions]="{standalone: true}"></p-dropdown>
        </div>

      </div>
    </form>
  </div>
