<!-- <div class="btn" *ngIf="config.openSidebar"> <i class="fas fa-bars white"></i> </div> -->
<!-- <div class="btn"> <i class="fas fa-bars white"></i> </div> -->
<nav class="sidebar" [class.show]="this.config.openSidebar">
  <div class="text" (click)="closeSidebar()"> Setup <i class="fas fa-times-circle fa-lg text-danger float-end mt-4 me-2"></i></div>
  <ul class="main_side">
    <li class="" [class.active]="activeindex==0"><a href="#">Dashboard</a></li>
    <li (click)="addClassShow(1)" [class.active]="activeindex==1"> <a href="#" id="1">Pages <span><i class="fas fa-caret-down"></i></span> </a>
      <ul class="item-show-1" [class.show]="showClass===1">
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Our Team</a></li>
      </ul>
    </li>
    <li> <a href="#" id="2" [class.active]="activeindex==3">Services <span><i class="fas fa-caret-down"></i></span> </a>
      <ul class="item-show-2">
        <li><a href="#">App Design</a></li>
        <li><a href="#">Web Design</a></li>
      </ul>
    </li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Message</a></li>
    <li><a href="#">Bookmark</a></li>
    <li><a href="#">Files</a></li>
  </ul>
</nav>

